.example {
  padding: 0 20px;
  background-color: $background-gray;
}

.example__effect-header {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__effect-count {
  font-weight: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
