$basic-white: #FFFFFF;
$basic-green: #68B738;
$basic-green: #5EAA2F;
$basic-gray: #F2F2F2;
$special-gray: #CDCDCD;
$special-gray-2: #666666;
$special-dark-gray: #444444;
$special-dark-gray-2: #222222;
$status-error: #FF8282;
$background-gray: #EAEAEA;
