$basic-white: #ffffff;
$basic-green: #68b738;
$basic-green: #5eaa2f;
$basic-gray: #f2f2f2;
$special-gray: #cdcdcd;
$special-gray-2: #666666;
$special-dark-gray: #444444;
$special-dark-gray-2: #222222;
$status-error: #ff8282;
$background-gray: #eaeaea;
